.field_block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    &:last-child {
        margin-left: 10em;
    }
}
.sifidetails {
    border: 1px solid #ccc;
    padding: 1em;
    width: 80%;
}
.sharevia {
    border: 1px solid #ccc;
    padding: 1em;
    width: 80%;
}
