<p-messages [(value)]="msgs"></p-messages>
<div class="manageCoupon">
  <h4 class="my-3">Sifi Generation</h4>
  <h6 class="my-3">Sifi Details:</h6>
  <form [formGroup]="couponForm">
    <div class="row no-gutters mb-3">
      <div class="col-lg-4 field_block">
        <label class="mandatory">Sifi Type:</label>
        <p-dropdown
          class="field"
          [options]="couponTypes"
          optionLabel="name"
          placeholder="Sifi Type"
          formControlName="accessType"
        ></p-dropdown>
      </div>
      <div class="col-lg-4 field_block ml-5">
        <label class="mandatory">Sifi Amount:</label>
        <input
          class="field"
          type="number"
          placeholder="Sifi Amount"
          formControlName="amount"
        />
      </div>
    </div>
    <div class="row no-gutters mb-3">
      <div class="col-lg-4 field_block">
        <label class="mandatory">Valid From:</label>
        <p-calendar
          class="field"
          formControlName="validFrom"
          [minDate]='minValidDate'
          [maxDate]="couponForm.get('validTo').value"
          [showIcon]="true"
          placeholder="DD/MM/YYYY"
        ></p-calendar>
      </div>
      <div class="col-lg-4 field_block ml-5">
        <label class="mandatory">Valid To:</label>
        <p-calendar
          class="field"
          formControlName="validTo"
          [minDate]="couponForm.get('validFrom').value"
          [showIcon]="true"
          placeholder="DD/MM/YYYY"
        ></p-calendar>
      </div>
    </div>
    <h6 class="my-3">Recipient Details:</h6>
    <div formGroupName='recipientForm'>
      <div class="row no-gutters mb-3">
        <div class="col-lg-4 field_block">
          <label class="mandatory">Recipient Name:</label>
          <input
            class="field"
            type="text"
            placeholder="Recipient Name"
            formControlName="name"
          />
        </div>
        <div class="col-lg-4 field_block ml-5">
          <label class="mandatory">Phone Number:</label>
          <input
            class="field"
            type="number"
            placeholder="Phone Number"
            formControlName="phone"
          />
        </div>
      </div>
      <div class="row no-gutters mb-3">
        <div class="col-lg-4 field_block">
          <label>Email:</label>
          <input
            class="field"
            type="text"
            placeholder="Email"
            formControlName="email"
          />
        </div>
      </div>
    </div>
    <div class="button_group">
      <button type="button" (click)='clear()' class="btn btn-secondary">Clear</button>
      <button type="button" (click)='save()' [disabled]='couponForm.invalid' class="btn btn-primary ml-3">Generate</button> 
    </div>
  </form>
</div>
